<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
    <header class="card-header">
        <a routerLink="/auth/signup" class="float-right btn btn-outline-primary mt-1">sign Up</a>
        <h4 class="card-title mt-2">Sign In</h4>
    </header>
    <article class="card-body">
    <form>

        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="" [(ngModel)]="user.email" name="email">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div> <!-- form-group end.// -->
      
        <div class="form-group">
            <label>Create password</label>
            <input class="form-control" type="password" [(ngModel)]="user.password" name="password">
        </div> <!-- form-group end.// -->  
        <div class="form-group">
            <button (click)="userLogin()" class="btn btn-primary btn-block"> Sign In  </button>
        </div> <!-- form-group// -->      
        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
    </form>
    </article> <!-- card-body end .// -->
    <div class="border-top card-body text-center">Have an account? <a href="">Log In</a>
    </div> <!-- card.// -->
    </div> <!-- col.//-->
    
    </div> <!-- row.//-->
</div>  <!--Container close-->
    


