<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">HRA App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="authSrv.isuserLoggedIn()"class="nav-item">
          <a class="nav-link" routerLink="/user/list">User</a>
        </li>
        <li *ngIf="authSrv.isuserLoggedIn()"class="nav-item">
          <a class="nav-link" routerLink="/user/create">Create User</a>
        </li>
        <li *ngIf="authSrv.isuserLoggedIn()"class="nav-item">
          <a class="nav-link" routerLink="/user/update">Update User</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <button *ngIf="!authSrv.isuserLoggedIn()" class="btn btn-outline-success my-2 my-sm-0" routerLink="/auth/signin">Sign In</button>
        <button *ngIf="!authSrv.isuserLoggedIn()" class="btn btn-outline-success my-2 my-sm-0" routerLink="/auth/signup">Sing Up</button>
        <button *ngIf="authSrv.isuserLoggedIn()" class="btn btn-outline-success my-2 my-sm-0" (click)="authSrv.logOut()">Sing Out</button>
      </form>
    </div>
  </nav>
